@media (min-width: 1260px) and (max-width: 1600px) {
    /* chỉnh sửa phần banner quảng cáo */
    .height_img_banner {
        height:380px;
    }
    /* chỉnh sửa phần category */
    .category_product_img-link {
        height: 100px;
        width: 100px;
    }
    .category_product-display-name {
        font-size: 2rem;
        height: 2rem;
    }
    .row.margin-bottom-40px.hide-on-mobile {
        margin-top: 10px;
    }
}
/* Mobile & Tablet */
@media (max-width: 1259px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
    }
    .app__container{
        margin-top: calc(var(--header-height));
    }
    /* page detail product */
    .pagination_item {
        margin: 0;

    }
    .pagination_item-left,.pagination_item-right {
        display: block;
    }
    ul.content__img__thumbnail {
        position: relative;
    }
    .pagination_item-left {
        position: absolute;
        top: 40%;
        left: 3%;
    }
    .pagination_item-right {
        position: absolute;
        top: 40%;
        right: 3%;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1259px) {
    /* :root{
        --header-height: 120px;
        --nav-height: 0px;
        --header-sort-bar-height: 46px;
    } */
    .hide-on-tablet {
        display: none;
    }
    .header__accart {
        display: block;
    }
    .btn-black {
        min-width: 90px;
        height: 46px;
        padding: 0;
    }
    .header__cart-icon {
        padding-right: 0;
    }
    .header__accart {
        padding-left: 40px;
    }
    button.acc.btn-black {
        margin-right: 10px;
    }
    /* responsive body */
    .app-container {
        margin-top: var(--header-height);
    }
    .background-all{
        width: 100%;
        background-color: #fff;
        margin-bottom: 0;
    }
    .background-content{
        padding-top: 20px;
    }
    .all_category_product{
        padding-left: 0;
    }
    .add-prodcut-mobile-tablet{
        display: block;
    }
    img.category_product_img-link {
        height: 110px;
        width: 110px;
    }
    span.category_product-display-name {
        font-size: 2rem;
        height: 2rem;
    }
    .margin-bottom-40px {
        margin-top: 10px;
    }
    img.our-partner_img-link {
        max-width: 70%;
    }

    /* footer */
}
/* Moblie */
@media (max-width: 739px){
    .hide-on-mobile {
        display: none;
    }
    :root{
        --header-height: 54px;
    }
    
    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height) ;
        }
    }
    /* responsive header */
    .header-with-search {
        height: var(--header-height);
        display: block;
        padding-top: 0px;
        margin-left: 0px;
    }
    .header__logo {
        width: 90px;
        float: left;
    }
    .header__accart{
        height: var(--header-height);
        
        float: right;
        margin: 0;
        width: auto;
        padding-right: 10px;
        padding-top: 15px;
        
    }
    .btn-black {
        min-width: auto;
        height: auto;
        padding: 0;
        font-size: 3rem;
        background-color: transparent;
        color: var(--white-color);
    }
    .header__cart-icon {
        padding-right: 0;

    }
    .header__mobile-search{
        display: inline-block;
    }
    .header__search-mobile {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
        border: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 0 8px;
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }
    .menu-bar{
        display: none;
    }
    /* responsive body */
    .background-all{
        width: 100%;
        background-color: #fff;
        margin-bottom: 0;
    }
    .background-content{
        padding-top: 20px;
    }
    .all_category_product{
        padding-left: 0;
    }
    /* Category mobile */
    .mobile-category {
        display: block;
    }
    /* Product display mobile */
    .header-name-mobile{
        display: block;
    }
    
    .margin-bottom-40px{
        height: 20px;
        border-bottom: 1px solid rgb(155, 154, 154);
    }

    /* our partner */
    .our-partner_img{
        text-align: center;
    }
    .our-partner_img img{
        max-width: 150px;
        margin-bottom: 10px;
    }

    /* ----------------------------------------------------------------------- */
    /* Trang detail product */
    /* .pagination_item {
        margin: 0;

    }
    .pagination_item-left,.pagination_item-right {
        display: block;
    }
    ul.content__img__thumbnail {
        position: relative;
    }
    .pagination_item-left {
        position: absolute;
        top: 40%;
        left: 3%;
    }
    .pagination_item-right {
        position: absolute;
        top: 40%;
        right: 3%;
    } */
    label.control-label.text-label,.button-add-wish-list {
        margin-left: 30px;
        font-size: 2.6rem;
    }
    ul.list_detail,h1 {
        padding-left: 15px;
    }
    h1 {
        font-size: 3.6rem;
    }
    .home-product_price-old{
        font-size: 1rem;
    }
    .home-product_price-current{
        font-size: 1.6rem;
    }
}
